.mainContainer{
    background-color: lightgrey;
}

.grid{
    background-color: lightslategray;
    margin: 0;
}

.cardCol{
    padding-top: 80px;
}
.card{
    height: 500px;
    border: 5px solid black;
    border-radius: 5px;
}

.cardBody{
    background-color: white;
}

.image{
    height: 630px;
}