.mainContainer{
    background-color: lightslategray;
    padding-bottom: 94px;
}
.formContainer{
    width: 500px;
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 100px;  
}
.mapContainer{
    margin-right: 125px;
    margin-top: 50px;
    
}
